# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\cassi_wh5ztk2\Documents\GitHub\Unit\4_Periodo\PyCharm\TeoriaGrafos2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
